@charset "UTF-8";

    /* font-family: 'Noto Sans KR', sans-serif; */
    /* 초기화 설정 */    
    
* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    min-width: 1280px;
    font-family: 'Noto Sans KR', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*공통*/
.wrap {
    width: 100%;
}

.hd {
    clear: both;
    width: 100%
}

.hd_top_wrap,
.hd_bottom_wrap {
    clear: both;
    width: 100%;
}

.hd_top_wrap {
    border-bottom: solid 1px #999;
    height: 30px;
    line-height: 30px
}

.hd_bottom_wrap {
    clear: both;
    height: 60px;
}

.tnb {
    width: 1280px;
    margin: 0 auto;
}

.tnb .left {
    float: left
}

.tnb .right {
    float: right;
}

.tnb .left li {
    float: left;
    padding-right: 25px;
    border-left: solid 1px #999;
    padding-left: 15px
}

.tnb .right li {
    float: left;
    margin-left: 25px;
}

.tnb li a {
    font-size: 13px;
    color: #333
}

.tnb .btn {
    border-left: 1px solid #999;
    padding-left: 10px;
    border-right: 1px solid #999;
    padding-right: 10px;
}


.gnb {
    clear: both;
    width: 1280px;
    margin: 0 auto;
    position: relative;
    line-height: 60px;
}

.gnb .logo {
    position: absolute;
    left: 0;
    font-size: 25px;
    font-weight: bold;
    color: #333
}

.gnb .menu {
    width: 500px;
    margin: 0 auto;
}

.gnb .menu li {
    float: left;
    padding-right: 40px;
}

.gnb .menu li a {
    clear: both;
    font-size: 16px;
    font-weight: bold;
    color: #333
}

.gnb .download {
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 12px;
    color: #333;
    display: block;
    width: 220px;
    line-height: 30px;
    background-color: #111111;
    border-radius: 5px;
    text-align: center;
    color: #fff
}


.contents {
    clear: both;
    width: 1280px;
    margin: 0 auto;
}




.ft {
    clear: both;
    width: 100%;
}

.ft_top_wrap {
    width: 100%;
    border-top: 1px solid rgb(218, 215, 215);
}

.ft_wrap {
    clear: both;
    width: 1280px;
    margin: 0 auto;
}

.ft_col {
    clear: both;
}

.ft_col li {
    float: left;
    font-size: 12px;
    text-align: center;
}

.ft_col li:first-child,
.ft_col li:last-child {
    width: 300px;
}

.ft_col li:nth-child(2) {
    width: 680px;
}

.ft_col li .ft_tit {
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.ft_col li span {
    display: block;
    list-style: 20px;
}

.ft_bottom_wrap {
    width: 100%;
    border-top: 1px solid rgb(218, 215, 215);
}

.fnb {
    clear: both;
    width: 400px;
    margin: 0 auto;
}

.fnb li {
    float: left;
    padding: 10px;
}

.fnb li a {
    display: block;
    background: #ccc;
    color: #111;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.copyright {
    clear: both;
    text-align: center;
    line-height: 30px;
    padding-bottom: 30px;
}